.footer {
	padding: 35px 0;
	position: relative;

	&:before {
		content: "";
		width: 1200px;
		height: 2px;
		display: block;
		background: $COL_DET;
		bottom: 100%;
		left: 50%;
		margin-left: -600px;
		position: absolute;
	}

	.branding-footer {
		float: left;

		img {
			display: block;
		}

		a {
			display: block;
		}
	}

	.newsletter {
		color: $COL_TXT;
		font-size: em( 14px );
		float: right;
		position: relative;
		top: 6px;

		input[type="text"] {
			border: 1px solid $COL_DET;
			margin-left: 5px;
		}
	}

	.social {
		left: 50%;
		margin-top: -16px;
		margin-left: -100px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 200px;

		li {
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}