.header {
	background: #636363 url( "#{$PATH}/bg-header.png" ) top repeat-x;

	.container {
		height: 85px;
		position: relative;
		z-index: 3;
	}

	.branding {
		display: inline-block;
		left: 0;
		margin: 8px 40px 0 0;
		float: left;
	}

	img {
		display: block;
	}

	.navigation-header {
		position: absolute;
		left: 210px;
		top: 28px;
	}

	.quick-search {
		float: right;
		margin-top: 22px;
	}
}