.nav {	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		position: relative;
	}

	a {
		color: inherit;
		display: block;
		text-decoration: none;
	}	
}

.nav .sub-menu {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;

	li,
	li a {
		width: 150px;		
	}

	li a {
		vertical-align: middle;
		height: 30px;
		display: table-cell;
	}

	.sub-menu {
		left: 100%;
		top: 0;
	}	
}

.nav li:hover > .sub-menu {
	display: block;
}


/* NAV STACKED */
.nav-stacked li {
	float: none;
}
.nav-stacked .sub-menu {
	position: static;
	display: block;
}