.header {
	background: #636363 url( "#{$PATH}/bg-header.png" ) top repeat-x;
	position: relative;
	z-index: 5;

	.container {
		height: 85px;
		position: relative;
		z-index: 3;
	}

	.branding {
		display: inline-block;
		left: 0;
		margin: 8px 40px 0 0;
		float: left;
	}

	img {
		display: block;
	}

	.quick-search {
		position: absolute;
		right: 110px;
		top: 22px;

		input {
			width: 160px;
		}

		input[type="submit"] {
			width: 35px;
		}
	}

	.box-login {
		position: absolute;
		right: 0;
		top: 28px;
		width: 96px;
	}

	.navigation-header {
		position: absolute;
		left: 184px;
		top: 28px;
	}
}
