body {
	font-family: $FONT_PRI;
	line-height: 1;
}

.container {
	margin: 0 auto;
	width: 978px;
}

.sidebar {
	width: perc( $SIDEBAR, $CONTAINER );
}

.content {
	margin-right: perc( 30px, $CONTAINER );
	width: perc( $CONTENT, $CONTAINER );
}

.sidebar,
.content {
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

.wrapper {
	min-width: 978px;
	overflow: hidden;
}