.chosen-container-single {
	position: relative;
}
.chosen-single {
	background: #FFF;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 3;

	span {
		position: relative;
		top: 8px;
	}

	div {
		@extend %bg_btn;
		width: 30px;
		height: 30px;
		position: absolute;
		right: 5px;
		top: 5px;

		&:before {
			content: "";
			border-style: solid;
			border-color: $COL_LINK transparent transparent transparent;
			border-width: 8px;
			position: absolute;
			top: 12px;
			left: 7px;
		}
	}
}

.chosen-drop {
	position: absolute;
	box-shadow: 0 8px 10px -10px rgba( #000, .5 ) inset, 0px 1px 1px 0px rgba(0, 0, 0, .2);
	left: 0;
	top: 100%;
	background: #FFF;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	width: 100%;
	padding-top: 2px;
	margin-top: -2px;
	z-index: 2;

	li {
		@include transition( .2s );
		cursor: pointer;
		color: $COL_TXT;
		display: block;
		float: none;
		margin: 0;
		padding: 10px 5px;
		border-bottom: 1px solid $COL_DET;

		&:hover {
			padding: 10px 5px 10px 10px;
		}
	}
}

.chosen-search,
.chosen-drop {
	display: none;
}

.chosen-with-drop .chosen-drop {
	display: block;
}