.form-more-info > div {
	background: $BG_BOX;
	padding: 20px;
}

.form-more-info {

	input,
	textarea {
		margin-bottom: 10px;
		width: 100%;
		border: 1px solid $COL_DET;
	}

	input[type="submit"] {
		border: none;
		float: right;
		margin: 0;
		width: auto;
	}
}