.perfil {

	.thumbnail {
		min-height: 120px;
	}

	img {
		display: block;
	}

	.info {
		padding: 20px;
		margin-bottom: 30px;
		background: $BG_BOX;
		font-size: em( $FONT_SIZE_TXT );
	}

	.title-perfil {
		font-size: em( 18px, $FONT_SIZE_TXT );
		color: $COL_LINK;
	}

	a {
		color: inherit;
	}

	.list {
		color: $COL_TXT;
		margin-top: 15px;
		list-style-position: inside;
		list-style-type: disc;

		a {
			color: $COL_LINK;
			text-decoration: underline;
		}

		li {
			margin-bottom: 3px;
		}
	}
}