.single-property {
	color: $COL_TXT;

	.header-price {
		border-bottom: 1px solid $COL_DET;
		padding-bottom: 20px;
	}

	.price {
		color: $COL_LINK;
		font-size: em( 20px );
		font-weight: bold;
	}

	.icon-property {
		float: right;
	}

	.about,
	.details {
		border-bottom: 1px solid $COL_DET;
		margin-bottom: 30px;
		font-size: em( 14px );
		line-height: 1.1;
		padding-bottom: 30px;
	}

	.list {
		list-style-position: inside;
		list-style-type: disc;
	}

	.slider {
		background: $BG_BOX;
		padding: 20px;
		margin-bottom: 20px;
	}
}

.similar-properties {
	background: #EEE;
	padding: 20px 0 0;
}

.similar-properties .list-cards {
	padding: 0;

	.card {
		margin: 0;
		width: auto;
	}
}