.entry-title {
	background: #636363 url( "#{$PATH}/bg-featured.png" ) center top no-repeat;
	color: #FFF;
	padding: 30px 0;
}

.title {

	&.large {
		color: $COL_PRI;
		font-size: em( 20px );
		font-weight: normal;
		margin-bottom: 10px;
	}
}


.title-section {
	padding-bottom: 20px;
	border-bottom: 1px solid $COL_DET;
	margin-bottom: 0;
}

.hentry {
	color: $COL_TXT;
	font-size: em( $FONT_SIZE_TXT );

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $COL_PRI;
		margin-bottom: 5px;
	}

	h1 { font-size: em( 24px, $FONT_SIZE_TXT ); }
	h2 { font-size: em( 22px, $FONT_SIZE_TXT ); }
	h3 { font-size: em( 20px, $FONT_SIZE_TXT ); }
	h4 { font-size: em( 18px, $FONT_SIZE_TXT ); }
	h5 { font-size: em( 16px, $FONT_SIZE_TXT ); }
	h6 { font-size: em( $FONT_SIZE_TXT, $FONT_SIZE_TXT ); }

	p {
		margin-bottom: 20px;
	}

	ul,
	ol {
		list-style-position: inside;
		margin: 20px 0;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	blockquote {
		padding: 30px 0 30px 30px;
		margin: 20px 0;
		color: $COL_TXT_SEC;
		border-left: 2px solid $COL_DET;
		font-style: italic;
	}


	a {
		@include transition( .2s );
		text-decoration: underline;
		color: $COL_LINK;

		&:hover {
			color: darken( $COL_LINK, 10% );
		}
	}
}