%clearfix {
	&:after {
		clear: both;
		content: " ";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden;
	}

	zoom: 1;
}

%ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

%image_replacement {
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

%bg_btn {
	@include background(linear-gradient(top, #616161 0%,#313131 100%));
	box-shadow: 0 1px 0 0 #000, 0 -1px 0 0 #848484;
	border-radius: 5px;
	color: $COL_LINK;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #000;

	&:hover {
		@include background(linear-gradient(top, #484848 0%,#1c1c1c 100%));
	}
	&:active {
		background: #1c1c1c;
	}
}