/* line 20, assets/stylesheets/base/_helpers.scss */
.featured-slider .bx-pager-link, .social .icon a, .wrap-media .bx-controls-direction a {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

/* line 26, assets/stylesheets/base/_helpers.scss */
.more-card button, input[type="submit"], .chosen-single div {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #616161), color-stop(100%, #313131));
  background: -webkit-linear-gradient(top, #616161 0%, #313131 100%);
  background: -moz-linear-gradient(top, #616161 0%, #313131 100%);
  background: -o-linear-gradient(top, #616161 0%, #313131 100%);
  background: linear-gradient(top, #616161 0%, #313131 100%);
  box-shadow: 0 1px 0 0 #000, 0 -1px 0 0 #848484;
  border-radius: 5px;
  color: #f6c20f;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
}
/* line 35, assets/stylesheets/base/_helpers.scss */
.more-card button:hover, input[type="submit"]:hover, .chosen-single div:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #1c1c1c));
  background: -webkit-linear-gradient(top, #484848 0%, #1c1c1c 100%);
  background: -moz-linear-gradient(top, #484848 0%, #1c1c1c 100%);
  background: -o-linear-gradient(top, #484848 0%, #1c1c1c 100%);
  background: linear-gradient(top, #484848 0%, #1c1c1c 100%);
}
/* line 38, assets/stylesheets/base/_helpers.scss */
.more-card button:active, input[type="submit"]:active, .chosen-single div:active {
  background: #1c1c1c;
}

/* line 1, assets/stylesheets/core/_reset.scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, assets/stylesheets/core/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 14, assets/stylesheets/core/_reset.scss */
after, hgroup:after, nav:after, footer:after, header:after, section:after, div:after, ol:after, ul:after, li:after, dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* line 23, assets/stylesheets/core/_reset.scss */
a {
  text-decoration: none;
}

/* line 26, assets/stylesheets/core/_reset.scss */
ul,
ol {
  list-style: none;
  list-style-position: outside;
}

/* line 1, assets/stylesheets/core/_buttons.scss */
.more-card {
  clear: both;
  text-align: center;
}
/* line 5, assets/stylesheets/core/_buttons.scss */
.more-card button {
  font-size: 0.875em;
  line-height: 1;
  padding: 5px;
  text-transform: none;
}

/* line 1, assets/stylesheets/core/_quick_search.scss */
.quick-search {
  display: inline-block;
  text-align: right;
  width: 29.65235%;
}
/* line 6, assets/stylesheets/core/_quick_search.scss */
.quick-search label {
  color: #FFF;
  font-size: 0.875em;
  font-weight: bold;
}

/* line 1, assets/stylesheets/core/_filter.scss */
.filter {
  background: #211d1e url("assets/images/bg-filter.png");
  color: #FFF;
  font-size: 0.875em;
  padding: 30px 0;
}
/* line 7, assets/stylesheets/core/_filter.scss */
.filter .field {
  float: left;
  margin-left: 20px;
}
/* line 11, assets/stylesheets/core/_filter.scss */
.filter .field:first-child {
  margin-left: 0;
}
/* line 15, assets/stylesheets/core/_filter.scss */
.filter .field:last-child {
  float: right;
  width: 14.31493%;
}
/* line 21, assets/stylesheets/core/_filter.scss */
.filter .first {
  width: 70px;
}
/* line 26, assets/stylesheets/core/_filter.scss */
.filter .label,
.filter .field-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 32, assets/stylesheets/core/_filter.scss */
.filter .choice {
  display: inline-block;
  height: 40px;
  padding: 15px 0;
}
/* line 38, assets/stylesheets/core/_filter.scss */
.filter select {
  width: 100%;
}
/* line 42, assets/stylesheets/core/_filter.scss */
.filter input[type="submit"] {
  margin-top: 20px;
  width: 100%;
}
/* line 47, assets/stylesheets/core/_filter.scss */
.filter .medium {
  width: 16.35992%;
}

/* line 12, assets/stylesheets/core/_form.scss */
input,
select,
.chosen-single,
textarea {
  border: none;
  border-radius: 5px;
  color: #575757;
  height: 40px;
  padding: 5px;
}

/* line 20, assets/stylesheets/core/_form.scss */
textarea {
  font-size: 0.875em;
  height: 100px;
  overflow: auto;
  resize: none;
  font-family: "Trebuchet MS", sans-serif;
}

/* line 29, assets/stylesheets/core/_form.scss */
input[type="radio"],
input[type="checkbox"] {
  height: auto;
  padding: 0;
}

/* line 34, assets/stylesheets/core/_form.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 39, assets/stylesheets/core/_form.scss */
button {
  background: transparent;
  cursor: pointer;
}

/* line 45, assets/stylesheets/core/_form.scss */
::-webkit-input-placeholder {
  color: #a8a8a8;
}

/* line 46, assets/stylesheets/core/_form.scss */
:-moz-placeholder {
  color: #a8a8a8;
}

/* line 47, assets/stylesheets/core/_form.scss */
::-moz-placeholder {
  color: #a8a8a8;
}

/* line 48, assets/stylesheets/core/_form.scss */
:-ms-input-placeholder {
  color: #a8a8a8;
}

/* line 1, assets/stylesheets/core/_featured_slider.scss */
.featured-slider {
  background: #636363 url("assets/images/bg-featured.png") center top no-repeat;
  padding: 30px 0;
  min-height: 320px;
}
/* line 6, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-wrapper {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  width: 978px;
}
/* line 14, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-pager {
  bottom: 30px;
  position: absolute;
  right: 20px;
}
/* line 19, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-pager-item {
  float: left;
  margin-left: 5px;
}
/* line 23, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-pager-link {
  background: url('assets/images/sprite-s3e20f76dac.png') 0 -120px;
  display: block;
  height: 16px;
  width: 13px;
}
/* line 30, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-pager-link.active {
  background: url('assets/images/sprite-s3e20f76dac.png') 0 -64px;
}
/* line 35, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .caption {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #FFF;
  font-size: 1.375em;
  left: 0;
  padding: 30px 20px 40px;
  position: absolute;
  width: 100%;
}
/* line 48, assets/stylesheets/core/_featured_slider.scss */
.featured-slider img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* line 54, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .item:hover .caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  background: rgba(0, 0, 0, 0.9);
}

/* line 60, assets/stylesheets/core/_featured_slider.scss */
.featured-slider > .slider {
  overflow: hidden;
  height: 260px;
  position: relative;
  width: 978px;
}
/* line 66, assets/stylesheets/core/_featured_slider.scss */
.featured-slider > .slider li + li {
  display: none;
}

/* line 1, assets/stylesheets/core/_card.scss */
.card {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  border-radius: 5px;
  box-shadow: 0 0 0 1px #d9d9d9 inset, 0 2px 1px 0 rgba(0, 0, 0, 0);
  font-size: 0.875em;
  overflow: hidden;
}
/* line 9, assets/stylesheets/core/_card.scss */
.card:hover {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 0 0 1px #d9d9d9 inset, 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 14, assets/stylesheets/core/_card.scss */
.card .thumbnail {
  position: relative;
  min-height: 150px;
}
/* line 19, assets/stylesheets/core/_card.scss */
.card img {
  display: block;
}
/* line 23, assets/stylesheets/core/_card.scss */
.card .code {
  bottom: 0;
  box-shadow: 0 -30px 25px -20px rgba(0, 0, 0, 0.7) inset;
  color: #FFF;
  left: 0;
  padding: 10px 15px;
  position: absolute;
  text-align: right;
  width: 100%;
}
/* line 35, assets/stylesheets/core/_card.scss */
.card .type,
.card .distrito {
  color: #575757;
}
/* line 39, assets/stylesheets/core/_card.scss */
.card .city {
  font-size: 0.78571em;
  color: #a8a8a8;
}
/* line 44, assets/stylesheets/core/_card.scss */
.card .price {
  color: #211d1e;
  font-weight: bold;
  margin-top: 10px;
}
/* line 50, assets/stylesheets/core/_card.scss */
.card .type {
  margin-bottom: 10px;
}
/* line 54, assets/stylesheets/core/_card.scss */
.card .info {
  padding: 10px 15px 0;
}
/* line 57, assets/stylesheets/core/_card.scss */
.card .info a {
  padding-bottom: 15px;
  display: block;
}
/* line 62, assets/stylesheets/core/_card.scss */
.card .more-info {
  border-top: 1px solid #d9d9d9;
  text-align: center;
}

/* line 1, assets/stylesheets/core/_list_cards.scss */
.list-cards {
  overflow: hidden;
  padding: 35px 0;
}
/* line 5, assets/stylesheets/core/_list_cards.scss */
.list-cards .card {
  background: #FFF;
  float: left;
  margin-bottom: 30px;
  margin-left: 3.06748%;
  width: 22.69939%;
}
/* line 12, assets/stylesheets/core/_list_cards.scss */
.list-cards .card:nth-child(4n+1) {
  margin-left: 0;
  clear: both;
}

/* line 1, assets/stylesheets/core/_social.scss */
.social {
  font-size: 0;
}
/* line 4, assets/stylesheets/core/_social.scss */
.social .icon {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: inline-block;
  background: url('assets/images/sprite-s3e20f76dac.png');
}
/* line 9, assets/stylesheets/core/_social.scss */
.social .icon.facebook {
  background-position: 0 -32px;
}
/* line 10, assets/stylesheets/core/_social.scss */
.social .icon.twitter {
  background-position: 0 0;
}
/* line 12, assets/stylesheets/core/_social.scss */
.social .icon:hover {
  opacity: .8;
}
/* line 13, assets/stylesheets/core/_social.scss */
.social .icon:active {
  opacity: 1;
}
/* line 16, assets/stylesheets/core/_social.scss */
.social .icon a {
  display: block;
  height: 32px;
  width: 32px;
}

/* line 1, assets/stylesheets/core/_chosen.scss */
.chosen-container-single {
  position: relative;
}

/* line 4, assets/stylesheets/core/_chosen.scss */
.chosen-single {
  background: #FFF;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
/* line 11, assets/stylesheets/core/_chosen.scss */
.chosen-single span {
  position: relative;
  top: 8px;
}
/* line 16, assets/stylesheets/core/_chosen.scss */
.chosen-single div {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 24, assets/stylesheets/core/_chosen.scss */
.chosen-single div:before {
  content: "";
  border-style: solid;
  border-color: #f6c20f transparent transparent transparent;
  border-width: 8px;
  position: absolute;
  top: 12px;
  left: 7px;
}

/* line 36, assets/stylesheets/core/_chosen.scss */
.chosen-drop {
  position: absolute;
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  left: 0;
  top: 100%;
  background: #FFF;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  width: 100%;
  padding-top: 2px;
  margin-top: -2px;
  z-index: 2;
}
/* line 49, assets/stylesheets/core/_chosen.scss */
.chosen-drop li {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  color: #575757;
  display: block;
  float: none;
  margin: 0;
  padding: 10px 5px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 59, assets/stylesheets/core/_chosen.scss */
.chosen-drop li:hover {
  padding: 10px 5px 10px 10px;
}

/* line 66, assets/stylesheets/core/_chosen.scss */
.chosen-search,
.chosen-drop {
  display: none;
}

/* line 70, assets/stylesheets/core/_chosen.scss */
.chosen-with-drop .chosen-drop {
  display: block;
}

/* line 1, assets/stylesheets/core/_typography.scss */
.entry-title {
  background: #636363 url("assets/images/bg-featured.png") center top no-repeat;
  color: #FFF;
  padding: 30px 0;
}

/* line 9, assets/stylesheets/core/_typography.scss */
.title.large {
  color: #211d1e;
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 18, assets/stylesheets/core/_typography.scss */
.title-section {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 0;
}

/* line 24, assets/stylesheets/core/_typography.scss */
.hentry {
  color: #575757;
  font-size: 0.875em;
}
/* line 33, assets/stylesheets/core/_typography.scss */
.hentry h1,
.hentry h2,
.hentry h3,
.hentry h4,
.hentry h5,
.hentry h6 {
  color: #211d1e;
  margin-bottom: 5px;
}
/* line 38, assets/stylesheets/core/_typography.scss */
.hentry h1 {
  font-size: 1.71429em;
}
/* line 39, assets/stylesheets/core/_typography.scss */
.hentry h2 {
  font-size: 1.57143em;
}
/* line 40, assets/stylesheets/core/_typography.scss */
.hentry h3 {
  font-size: 1.42857em;
}
/* line 41, assets/stylesheets/core/_typography.scss */
.hentry h4 {
  font-size: 1.28571em;
}
/* line 42, assets/stylesheets/core/_typography.scss */
.hentry h5 {
  font-size: 1.14286em;
}
/* line 43, assets/stylesheets/core/_typography.scss */
.hentry h6 {
  font-size: 1em;
}
/* line 45, assets/stylesheets/core/_typography.scss */
.hentry p {
  margin-bottom: 20px;
}
/* line 50, assets/stylesheets/core/_typography.scss */
.hentry ul,
.hentry ol {
  list-style-position: inside;
  margin: 20px 0;
}
/* line 55, assets/stylesheets/core/_typography.scss */
.hentry ul {
  list-style-type: disc;
}
/* line 59, assets/stylesheets/core/_typography.scss */
.hentry ol {
  list-style-type: decimal;
}
/* line 63, assets/stylesheets/core/_typography.scss */
.hentry blockquote {
  padding: 30px 0 30px 30px;
  margin: 20px 0;
  color: #a8a8a8;
  border-left: 2px solid #d9d9d9;
  font-style: italic;
}
/* line 72, assets/stylesheets/core/_typography.scss */
.hentry a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-decoration: underline;
  color: #f6c20f;
}
/* line 77, assets/stylesheets/core/_typography.scss */
.hentry a:hover {
  color: #ca9f08;
}

/* line 3, assets/stylesheets/core/_icons.scss */
.icon-property .icon {
  color: #a8a8a8;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px;
  line-height: 32px;
  text-align: left;
  width: 50px;
}
/* line 12, assets/stylesheets/core/_icons.scss */
.icon-property .icon:first-child {
  margin-left: 0;
}
/* line 16, assets/stylesheets/core/_icons.scss */
.icon-property .icon:before {
  content: '';
  background: url('assets/images/sprite-s3e20f76dac.png');
  display: inline-block;
  float: left;
  height: 32px;
  width: 32px;
}
/* line 25, assets/stylesheets/core/_icons.scss */
.icon-property .icon.room:before {
  background-position: 0 -200px;
}
/* line 26, assets/stylesheets/core/_icons.scss */
.icon-property .icon.toilet:before {
  background-position: 0 -168px;
}
/* line 27, assets/stylesheets/core/_icons.scss */
.icon-property .icon.dormitory:before {
  background-position: 0 -136px;
}

/* line 1, assets/stylesheets/core/_single_property.scss */
.single-property {
  color: #575757;
}
/* line 4, assets/stylesheets/core/_single_property.scss */
.single-property .header-price {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 20px;
}
/* line 9, assets/stylesheets/core/_single_property.scss */
.single-property .price {
  color: #f6c20f;
  font-size: 1.25em;
  font-weight: bold;
}
/* line 15, assets/stylesheets/core/_single_property.scss */
.single-property .icon-property {
  float: right;
}
/* line 20, assets/stylesheets/core/_single_property.scss */
.single-property .about,
.single-property .details {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
  font-size: 0.875em;
  line-height: 1.1;
  padding-bottom: 30px;
}
/* line 28, assets/stylesheets/core/_single_property.scss */
.single-property .list {
  list-style-position: inside;
  list-style-type: disc;
}
/* line 33, assets/stylesheets/core/_single_property.scss */
.single-property .slider {
  background: #f3f3f3;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 40, assets/stylesheets/core/_single_property.scss */
.similar-properties {
  background: #EEE;
  padding: 20px 0 0;
}

/* line 45, assets/stylesheets/core/_single_property.scss */
.similar-properties .list-cards {
  padding: 0;
}
/* line 48, assets/stylesheets/core/_single_property.scss */
.similar-properties .list-cards .card {
  margin: 0;
  width: auto;
}

/* line 3, assets/stylesheets/core/_media_slider.scss */
.wrap-media .media-slide-featured {
  width: 74.34402%;
  min-height: 345px;
  float: left;
  position: relative;
}
/* line 9, assets/stylesheets/core/_media_slider.scss */
.wrap-media .media-slide-featured .box-pager {
  top: 0;
}
/* line 14, assets/stylesheets/core/_media_slider.scss */
.wrap-media img {
  display: block;
}
/* line 21, assets/stylesheets/core/_media_slider.scss */
.wrap-media .caption,
.wrap-media .box-pager,
.wrap-media .media-slide-counter,
.wrap-media .bx-controls-direction {
  position: absolute;
}
/* line 25, assets/stylesheets/core/_media_slider.scss */
.wrap-media .media-slide-counter {
  font-size: 10px;
  background: #FFF;
  border-radius: 5px;
  padding: 3px 6px;
  right: 20px;
  top: 20px;
}
/* line 34, assets/stylesheets/core/_media_slider.scss */
.wrap-media .caption {
  bottom: 0;
  color: #FFF;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
/* line 42, assets/stylesheets/core/_media_slider.scss */
.wrap-media .media-slide {
  float: right;
  position: relative;
  width: 22.59475%;
}
/* line 47, assets/stylesheets/core/_media_slider.scss */
.wrap-media .media-slide > ul {
  height: 345px;
  overflow: hidden;
}
/* line 52, assets/stylesheets/core/_media_slider.scss */
.wrap-media .media-slide > ul li {
  margin-bottom: 15px;
}
/* line 57, assets/stylesheets/core/_media_slider.scss */
.wrap-media .bx-controls-direction {
  position: absolute;
  top: 0;
  min-height: 345px;
  height: 100%;
  left: 50%;
  margin-left: -20px;
}
/* line 66, assets/stylesheets/core/_media_slider.scss */
.wrap-media .bx-controls-direction a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: url('assets/images/sprite-s3e20f76dac.png');
  font-size: 0;
  position: absolute;
  width: 40px;
  height: 20px;
  display: block;
}
/* line 76, assets/stylesheets/core/_media_slider.scss */
.wrap-media .bx-controls-direction a:hover {
  opacity: .6;
}
/* line 80, assets/stylesheets/core/_media_slider.scss */
.wrap-media .bx-controls-direction a.disabled {
  cursor: default;
  opacity: .2;
}
/* line 85, assets/stylesheets/core/_media_slider.scss */
.wrap-media .bx-controls-direction a.bx-prev {
  background-position: 0 -100px;
  bottom: 103%;
}
/* line 90, assets/stylesheets/core/_media_slider.scss */
.wrap-media .bx-controls-direction a.bx-next {
  background-position: 0 -80px;
  top: 103%;
}
/* line 96, assets/stylesheets/core/_media_slider.scss */
.wrap-media .bx-viewport {
  z-index: 1;
}

/* line 3, assets/stylesheets/core/_perfil.scss */
.perfil .thumbnail {
  min-height: 120px;
}
/* line 7, assets/stylesheets/core/_perfil.scss */
.perfil img {
  display: block;
}
/* line 11, assets/stylesheets/core/_perfil.scss */
.perfil .info {
  padding: 20px;
  margin-bottom: 30px;
  background: #f3f3f3;
  font-size: 0.875em;
}
/* line 18, assets/stylesheets/core/_perfil.scss */
.perfil .title-perfil {
  font-size: 1.28571em;
  color: #f6c20f;
}
/* line 23, assets/stylesheets/core/_perfil.scss */
.perfil a {
  color: inherit;
}
/* line 27, assets/stylesheets/core/_perfil.scss */
.perfil .list {
  color: #575757;
  margin-top: 15px;
  list-style-position: inside;
  list-style-type: disc;
}
/* line 33, assets/stylesheets/core/_perfil.scss */
.perfil .list a {
  color: #f6c20f;
  text-decoration: underline;
}
/* line 38, assets/stylesheets/core/_perfil.scss */
.perfil .list li {
  margin-bottom: 3px;
}

/* line 1, assets/stylesheets/core/_form_more_info.scss */
.form-more-info > div {
  background: #f3f3f3;
  padding: 20px;
}

/* line 9, assets/stylesheets/core/_form_more_info.scss */
.form-more-info input,
.form-more-info textarea {
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #d9d9d9;
}
/* line 15, assets/stylesheets/core/_form_more_info.scss */
.form-more-info input[type="submit"] {
  border: none;
  float: right;
  margin: 0;
  width: auto;
}

/* line 1, assets/stylesheets/layout/_main.scss */
body {
  font-family: "Trebuchet MS", sans-serif;
  line-height: 1;
}

/* line 6, assets/stylesheets/layout/_main.scss */
.container {
  margin: 0 auto;
  width: 978px;
}

/* line 11, assets/stylesheets/layout/_main.scss */
.sidebar {
  width: 22.69939%;
}

/* line 15, assets/stylesheets/layout/_main.scss */
.content {
  margin-right: 3.06748%;
  width: 74.23313%;
}

/* line 21, assets/stylesheets/layout/_main.scss */
.sidebar,
.content {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 1, assets/stylesheets/layout/_header.scss */
.header {
  background: #636363 url("assets/images/bg-header.png") top repeat-x;
}
/* line 4, assets/stylesheets/layout/_header.scss */
.header .container {
  height: 85px;
  position: relative;
  z-index: 3;
}
/* line 10, assets/stylesheets/layout/_header.scss */
.header .branding {
  display: inline-block;
  left: 0;
  margin: 8px 40px 0 0;
  float: left;
}
/* line 17, assets/stylesheets/layout/_header.scss */
.header img {
  display: block;
}
/* line 21, assets/stylesheets/layout/_header.scss */
.header .navigation-header {
  position: absolute;
  left: 210px;
  top: 28px;
}
/* line 27, assets/stylesheets/layout/_header.scss */
.header .quick-search {
  float: right;
  margin-top: 22px;
}

/* line 2, assets/stylesheets/layout/_navigation.scss */
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 8, assets/stylesheets/layout/_navigation.scss */
.nav li {
  display: inline-block;
  position: relative;
}
/* line 13, assets/stylesheets/layout/_navigation.scss */
.nav a {
  color: inherit;
  display: block;
  text-decoration: none;
}

/* line 20, assets/stylesheets/layout/_navigation.scss */
.nav .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}
/* line 27, assets/stylesheets/layout/_navigation.scss */
.nav .sub-menu li,
.nav .sub-menu li a {
  width: 150px;
}
/* line 31, assets/stylesheets/layout/_navigation.scss */
.nav .sub-menu li a {
  vertical-align: middle;
  height: 30px;
  display: table-cell;
}
/* line 37, assets/stylesheets/layout/_navigation.scss */
.nav .sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

/* line 43, assets/stylesheets/layout/_navigation.scss */
.nav li:hover > .sub-menu {
  display: block;
}

/* NAV STACKED */
/* line 49, assets/stylesheets/layout/_navigation.scss */
.nav-stacked li {
  float: none;
}

/* line 52, assets/stylesheets/layout/_navigation.scss */
.nav-stacked .sub-menu {
  position: static;
  display: block;
}

/* line 1, assets/stylesheets/layout/_footer.scss */
.footer {
  padding: 35px 0;
  position: relative;
}
/* line 5, assets/stylesheets/layout/_footer.scss */
.footer:before {
  content: "";
  width: 1200px;
  height: 2px;
  display: block;
  background: #d9d9d9;
  bottom: 100%;
  left: 50%;
  margin-left: -600px;
  position: absolute;
}
/* line 17, assets/stylesheets/layout/_footer.scss */
.footer .branding-footer {
  float: left;
}
/* line 20, assets/stylesheets/layout/_footer.scss */
.footer .branding-footer img {
  display: block;
}
/* line 24, assets/stylesheets/layout/_footer.scss */
.footer .branding-footer a {
  display: block;
}
/* line 29, assets/stylesheets/layout/_footer.scss */
.footer .newsletter {
  color: #575757;
  font-size: 0.875em;
  float: right;
  position: relative;
  top: 6px;
}
/* line 36, assets/stylesheets/layout/_footer.scss */
.footer .newsletter input[type="text"] {
  border: 1px solid #d9d9d9;
  margin-left: 5px;
}
/* line 42, assets/stylesheets/layout/_footer.scss */
.footer .social {
  left: 50%;
  margin-top: -16px;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
}
/* line 51, assets/stylesheets/layout/_footer.scss */
.footer .social li {
  margin-left: 10px;
}
/* line 54, assets/stylesheets/layout/_footer.scss */
.footer .social li:first-child {
  margin-left: 0;
}

/* line 1, assets/stylesheets/modules/_nav_header.scss */
.navigation-header {
  color: #FFF;
  display: inline-block;
  font-weight: bold;
}
/* line 6, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .menu {
  font-size: 0;
}
/* line 10, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .menu > .menu-item > a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 5px 10px;
  border-radius: 5px;
}
/* line 16, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .menu-item {
  font-size: 16px;
}
/* line 21, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .menu > .menu-item:hover > a,
.navigation-header .current-menu-item a {
  background: #211d1e;
  color: #f6c20f;
}
/* line 26, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .sub-menu {
  border-radius: 5px;
  background: #211d1e;
}
/* line 30, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .sub-menu a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0 10px;
}
/* line 34, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .sub-menu a:hover {
  color: #f6c20f;
}

/* line 1, assets/stylesheets/modules/_list_cards_sidebar.scss */
.sidebar .list-cards {
  padding: 2px 0 0;
  margin-top: 20px;
}

/* line 6, assets/stylesheets/modules/_list_cards_sidebar.scss */
.sidebar .card {
  width: 100%;
  margin: 0 0 30px;
}
