.navigation-header {
	color: #FFF;
	display: inline-block;
	font-weight: bold;

	.menu {
		font-size: 0;
	}

	.menu > .menu-item > a {
		@include transition( .2s );
		padding: 5px 10px;
		border-radius: 5px;
	}

	.menu-item {
		font-size: 16px;
	}

	.menu > .menu-item:hover > a,
	.current-menu-item a {
		background: $COL_PRI;
		color: $COL_LINK;
	}

	.sub-menu {
		border-radius: 5px;
		background: $COL_PRI;

		a {
			@include transition( .2s );
			padding: 0 10px;

			&:hover {
				color: $COL_LINK;
			}
		}
	}
}