/* line 20, assets/stylesheets/base/_helpers.scss */
.featured-slider .bx-pager-link, .social .icon a {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

/* line 26, assets/stylesheets/base/_helpers.scss */
.more-card button, input[type="submit"], .chosen-single div {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #616161), color-stop(100%, #313131));
  background: -webkit-linear-gradient(top, #616161 0%, #313131 100%);
  background: -moz-linear-gradient(top, #616161 0%, #313131 100%);
  background: -o-linear-gradient(top, #616161 0%, #313131 100%);
  background: linear-gradient(top, #616161 0%, #313131 100%);
  box-shadow: 0 1px 0 0 #000, 0 -1px 0 0 #848484;
  border-radius: 5px;
  color: #ffcc1d;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
}
/* line 35, assets/stylesheets/base/_helpers.scss */
.more-card button:hover, input[type="submit"]:hover, .chosen-single div:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484848), color-stop(100%, #1c1c1c));
  background: -webkit-linear-gradient(top, #484848 0%, #1c1c1c 100%);
  background: -moz-linear-gradient(top, #484848 0%, #1c1c1c 100%);
  background: -o-linear-gradient(top, #484848 0%, #1c1c1c 100%);
  background: linear-gradient(top, #484848 0%, #1c1c1c 100%);
}
/* line 38, assets/stylesheets/base/_helpers.scss */
.more-card button:active, input[type="submit"]:active, .chosen-single div:active {
  background: #1c1c1c;
}

/* line 1, assets/stylesheets/core/_reset.scss */
* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, assets/stylesheets/core/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 14, assets/stylesheets/core/_reset.scss */
after, hgroup:after, nav:after, footer:after, header:after, section:after, div:after, ol:after, ul:after, li:after, dl:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* line 23, assets/stylesheets/core/_reset.scss */
a {
  text-decoration: none;
}

/* line 26, assets/stylesheets/core/_reset.scss */
ul,
ol {
  list-style: none;
  list-style-position: outside;
}

/* line 1, assets/stylesheets/core/_buttons.scss */
.more-card {
  clear: both;
  text-align: center;
}
/* line 5, assets/stylesheets/core/_buttons.scss */
.more-card button {
  font-size: 0.875em;
  line-height: 1;
  padding: 5px;
  text-transform: none;
}

/* line 1, assets/stylesheets/core/_quick_search.scss */
.quick-search {
  display: inline-block;
}
/* line 4, assets/stylesheets/core/_quick_search.scss */
.quick-search label {
  color: #FFF;
  font-size: 0.875em;
  font-weight: bold;
}

/* line 1, assets/stylesheets/core/_filter.scss */
.filter {
  background: #211d1e url("assets/images/bg-filter.png");
  color: #FFF;
  font-size: 0.875em;
  padding: 30px 0;
}
/* line 7, assets/stylesheets/core/_filter.scss */
.filter .field {
  float: left;
  margin-left: 20px;
}
/* line 11, assets/stylesheets/core/_filter.scss */
.filter .field:first-child {
  margin-left: 0;
}
/* line 15, assets/stylesheets/core/_filter.scss */
.filter .field:last-child {
  float: right;
  width: 14.31493%;
}
/* line 22, assets/stylesheets/core/_filter.scss */
.filter .label,
.filter .field-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 28, assets/stylesheets/core/_filter.scss */
.filter .choice {
  display: inline-block;
  height: 40px;
  padding: 15px 0;
}
/* line 34, assets/stylesheets/core/_filter.scss */
.filter select {
  width: 100%;
}
/* line 38, assets/stylesheets/core/_filter.scss */
.filter input[type="submit"] {
  margin-top: 20px;
  width: 100%;
}
/* line 43, assets/stylesheets/core/_filter.scss */
.filter .medium {
  width: 16.35992%;
}

/* line 11, assets/stylesheets/core/_form.scss */
input,
select,
.chosen-single {
  border: none;
  border-radius: 5px;
  color: #575757;
  height: 40px;
  padding: 5px;
}

/* line 20, assets/stylesheets/core/_form.scss */
input[type="radio"],
input[type="checkbox"] {
  height: auto;
  padding: 0;
}

/* line 25, assets/stylesheets/core/_form.scss */
input[type="submit"] {
  cursor: pointer;
}

/* line 30, assets/stylesheets/core/_form.scss */
button {
  background: transparent;
  cursor: pointer;
}

/* line 36, assets/stylesheets/core/_form.scss */
::-webkit-input-placeholder {
  color: #a8a8a8;
}

/* line 37, assets/stylesheets/core/_form.scss */
:-moz-placeholder {
  color: #a8a8a8;
}

/* line 38, assets/stylesheets/core/_form.scss */
::-moz-placeholder {
  color: #a8a8a8;
}

/* line 39, assets/stylesheets/core/_form.scss */
:-ms-input-placeholder {
  color: #a8a8a8;
}

/* line 1, assets/stylesheets/core/_featured_slider.scss */
.featured-slider {
  background: #636363 url("assets/images/bg-featured.png") center top no-repeat;
  padding: 30px 0;
  min-height: 320px;
}
/* line 6, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-wrapper {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  width: 978px;
}
/* line 14, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-pager {
  bottom: 30px;
  position: absolute;
  right: 20px;
}
/* line 19, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-pager-item {
  float: left;
  margin-left: 5px;
}
/* line 23, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-pager-link {
  background: url('assets/images/sprite-s4041d9d983.png') 0 -80px;
  display: block;
  height: 16px;
  width: 13px;
}
/* line 30, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .bx-pager-link.active {
  background: url('assets/images/sprite-s4041d9d983.png') 0 -64px;
}
/* line 35, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .caption {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #FFF;
  font-size: 1.375em;
  left: 0;
  padding: 30px 20px 40px;
  position: absolute;
  width: 100%;
}
/* line 48, assets/stylesheets/core/_featured_slider.scss */
.featured-slider img {
  display: block;
  height: auto;
  max-width: 100%;
}
/* line 54, assets/stylesheets/core/_featured_slider.scss */
.featured-slider .item:hover .caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  background: rgba(0, 0, 0, 0.9);
}

/* line 60, assets/stylesheets/core/_featured_slider.scss */
.featured-slider > .slider {
  overflow: hidden;
  height: 260px;
  position: relative;
  width: 978px;
}
/* line 66, assets/stylesheets/core/_featured_slider.scss */
.featured-slider > .slider li + li {
  display: none;
}

/* line 1, assets/stylesheets/core/_card.scss */
.card {
  -webkit-transition: 0.3s, ease-in;
  -moz-transition: 0.3s, ease-in;
  -o-transition: 0.3s, ease-in;
  transition: 0.3s, ease-in;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  border-radius: 5px;
  box-shadow: 0 0 0 1px #d9d9d9 inset, 0 2px 1px 0 rgba(0, 0, 0, 0);
  font-size: 0.875em;
  overflow: hidden;
}
/* line 9, assets/stylesheets/core/_card.scss */
.card:hover {
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 0 0 1px #d9d9d9 inset, 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 14, assets/stylesheets/core/_card.scss */
.card .thumbnail {
  position: relative;
}
/* line 18, assets/stylesheets/core/_card.scss */
.card img {
  display: block;
}
/* line 22, assets/stylesheets/core/_card.scss */
.card .code {
  bottom: 0;
  box-shadow: 0 -30px 25px -20px rgba(0, 0, 0, 0.7) inset;
  color: #FFF;
  left: 0;
  padding: 10px 15px;
  position: absolute;
  text-align: right;
  width: 100%;
}
/* line 34, assets/stylesheets/core/_card.scss */
.card .type,
.card .distrito {
  color: #575757;
}
/* line 38, assets/stylesheets/core/_card.scss */
.card .city {
  font-size: 0.78571em;
  color: #a8a8a8;
}
/* line 43, assets/stylesheets/core/_card.scss */
.card .price {
  color: #211d1e;
  font-weight: bold;
  margin-top: 10px;
}
/* line 49, assets/stylesheets/core/_card.scss */
.card .type {
  margin-bottom: 10px;
}
/* line 53, assets/stylesheets/core/_card.scss */
.card .info {
  padding: 10px 15px 0;
}
/* line 56, assets/stylesheets/core/_card.scss */
.card .info a {
  padding-bottom: 15px;
  display: block;
}
/* line 61, assets/stylesheets/core/_card.scss */
.card .more-info {
  border-top: 1px solid #d9d9d9;
  text-align: center;
}
/* line 66, assets/stylesheets/core/_card.scss */
.card .icon {
  color: #a8a8a8;
  display: inline-block;
  font-weight: bold;
  margin-left: 15px;
  line-height: 32px;
  text-align: left;
  width: 50px;
}
/* line 75, assets/stylesheets/core/_card.scss */
.card .icon:first-child {
  margin-left: 0;
}
/* line 79, assets/stylesheets/core/_card.scss */
.card .icon:before {
  content: '';
  background: url('assets/images/sprite-s4041d9d983.png');
  display: inline-block;
  float: left;
  height: 32px;
  width: 32px;
}
/* line 88, assets/stylesheets/core/_card.scss */
.card .icon.room:before {
  background-position: 0 -160px;
}
/* line 89, assets/stylesheets/core/_card.scss */
.card .icon.toilet:before {
  background-position: 0 -128px;
}
/* line 90, assets/stylesheets/core/_card.scss */
.card .icon.dormitory:before {
  background-position: 0 -96px;
}

/* line 1, assets/stylesheets/core/_list_cards.scss */
.list-cards {
  overflow: hidden;
  padding: 35px 0;
}
/* line 5, assets/stylesheets/core/_list_cards.scss */
.list-cards .card {
  background: #FFF;
  float: left;
  margin-bottom: 30px;
  margin-left: 3.06748%;
  width: 22.69939%;
}
/* line 12, assets/stylesheets/core/_list_cards.scss */
.list-cards .card:nth-child(4n+1) {
  margin-left: 0;
  clear: both;
}

/* line 1, assets/stylesheets/core/_social.scss */
.social {
  font-size: 0;
}
/* line 4, assets/stylesheets/core/_social.scss */
.social .icon {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  background: url('assets/images/sprite-s4041d9d983.png');
}
/* line 9, assets/stylesheets/core/_social.scss */
.social .icon.facebook {
  background-position: 0 -32px;
}
/* line 10, assets/stylesheets/core/_social.scss */
.social .icon.twitter {
  background-position: 0 0;
}
/* line 12, assets/stylesheets/core/_social.scss */
.social .icon:hover {
  opacity: .8;
}
/* line 13, assets/stylesheets/core/_social.scss */
.social .icon:active {
  opacity: 1;
}
/* line 16, assets/stylesheets/core/_social.scss */
.social .icon a {
  display: block;
  height: 32px;
  width: 32px;
}

/* line 1, assets/stylesheets/core/_chosen.scss */
.chosen-container-single {
  position: relative;
}

/* line 4, assets/stylesheets/core/_chosen.scss */
.chosen-single {
  background: #FFF;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
/* line 11, assets/stylesheets/core/_chosen.scss */
.chosen-single span {
  position: relative;
  top: 8px;
}
/* line 16, assets/stylesheets/core/_chosen.scss */
.chosen-single div {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* line 24, assets/stylesheets/core/_chosen.scss */
.chosen-single div:before {
  content: "";
  border-style: solid;
  border-color: #ffcc1d transparent transparent transparent;
  border-width: 8px;
  position: absolute;
  top: 12px;
  left: 7px;
}

/* line 36, assets/stylesheets/core/_chosen.scss */
.chosen-drop {
  position: absolute;
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
  left: 0;
  top: 100%;
  background: #FFF;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  width: 100%;
  padding-top: 2px;
  margin-top: -2px;
  z-index: 2;
}
/* line 49, assets/stylesheets/core/_chosen.scss */
.chosen-drop li {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  color: #575757;
  display: block;
  float: none;
  margin: 0;
  padding: 10px 5px;
  border-bottom: 1px solid #d9d9d9;
}
/* line 59, assets/stylesheets/core/_chosen.scss */
.chosen-drop li:hover {
  padding: 10px 5px 10px 10px;
}

/* line 66, assets/stylesheets/core/_chosen.scss */
.chosen-search,
.chosen-drop {
  display: none;
}

/* line 70, assets/stylesheets/core/_chosen.scss */
.chosen-container-active .chosen-drop {
  display: block;
}

/* line 1, assets/stylesheets/layout/_main.scss */
body {
  font-family: "Trebuchet MS", sans-serif;
  line-height: 1;
}

/* line 6, assets/stylesheets/layout/_main.scss */
.container {
  margin: 0 auto;
  width: 978px;
}

/* line 1, assets/stylesheets/layout/_header.scss */
.header {
  background: #636363 url("assets/images/bg-header.png") top repeat-x;
}
/* line 4, assets/stylesheets/layout/_header.scss */
.header .container {
  height: 85px;
  position: relative;
  z-index: 3;
}
/* line 10, assets/stylesheets/layout/_header.scss */
.header .branding {
  display: inline-block;
  left: 0;
  margin: 8px 40px 0 0;
  float: left;
}
/* line 17, assets/stylesheets/layout/_header.scss */
.header img {
  display: block;
}
/* line 21, assets/stylesheets/layout/_header.scss */
.header .navigation-header {
  position: absolute;
  left: 210px;
  top: 28px;
}
/* line 27, assets/stylesheets/layout/_header.scss */
.header .quick-search {
  float: right;
  margin-top: 22px;
}

/* line 2, assets/stylesheets/layout/_navigation.scss */
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 8, assets/stylesheets/layout/_navigation.scss */
.nav li {
  display: inline-block;
  position: relative;
}
/* line 13, assets/stylesheets/layout/_navigation.scss */
.nav a {
  color: inherit;
  display: block;
  text-decoration: none;
}

/* line 20, assets/stylesheets/layout/_navigation.scss */
.nav .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
}
/* line 27, assets/stylesheets/layout/_navigation.scss */
.nav .sub-menu li,
.nav .sub-menu li a {
  width: 150px;
}
/* line 31, assets/stylesheets/layout/_navigation.scss */
.nav .sub-menu li a {
  vertical-align: middle;
  height: 30px;
  display: table-cell;
}
/* line 37, assets/stylesheets/layout/_navigation.scss */
.nav .sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

/* line 43, assets/stylesheets/layout/_navigation.scss */
.nav li:hover > .sub-menu {
  display: block;
}

/* NAV STACKED */
/* line 49, assets/stylesheets/layout/_navigation.scss */
.nav-stacked li {
  float: none;
}

/* line 52, assets/stylesheets/layout/_navigation.scss */
.nav-stacked .sub-menu {
  position: static;
  display: block;
}

/* line 1, assets/stylesheets/layout/_footer.scss */
.footer {
  padding: 35px 0;
  position: relative;
}
/* line 5, assets/stylesheets/layout/_footer.scss */
.footer:before {
  content: "";
  width: 1200px;
  height: 2px;
  display: block;
  background: #d9d9d9;
  bottom: 100%;
  left: 50%;
  margin-left: -600px;
  position: absolute;
}
/* line 17, assets/stylesheets/layout/_footer.scss */
.footer .branding-footer {
  float: left;
}
/* line 20, assets/stylesheets/layout/_footer.scss */
.footer .branding-footer img {
  display: block;
}
/* line 24, assets/stylesheets/layout/_footer.scss */
.footer .branding-footer a {
  display: block;
}
/* line 29, assets/stylesheets/layout/_footer.scss */
.footer .newsletter {
  color: #575757;
  font-size: 0.875em;
  float: right;
  position: relative;
  top: 6px;
}
/* line 36, assets/stylesheets/layout/_footer.scss */
.footer .newsletter input[type="text"] {
  border: 1px solid #d9d9d9;
  margin-left: 5px;
}
/* line 42, assets/stylesheets/layout/_footer.scss */
.footer .social {
  left: 50%;
  margin-top: -16px;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
}
/* line 51, assets/stylesheets/layout/_footer.scss */
.footer .social li {
  margin-left: 10px;
}
/* line 54, assets/stylesheets/layout/_footer.scss */
.footer .social li:first-child {
  margin-left: 0;
}

/* line 1, assets/stylesheets/modules/_nav_header.scss */
.navigation-header {
  color: #FFF;
  display: inline-block;
  font-weight: bold;
}
/* line 6, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .menu {
  font-size: 0;
}
/* line 10, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .menu > .menu-item > a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 5px 10px;
  border-radius: 5px;
}
/* line 16, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .menu-item {
  font-size: 16px;
}
/* line 21, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .menu > .menu-item:hover > a,
.navigation-header .current-menu-item a {
  background: #211d1e;
  color: #ffcc1d;
}
/* line 26, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .sub-menu {
  border-radius: 5px;
  background: #211d1e;
}
/* line 30, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .sub-menu a {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0 10px;
}
/* line 34, assets/stylesheets/modules/_nav_header.scss */
.navigation-header .sub-menu a:hover {
  color: #ffcc1d;
}
