.wrap-author {
	border-bottom: 2px solid $COL_DET;
	font-size: em( 14px );
	overflow: hidden;
	padding-bottom: 20px;

	&.container {
		margin: 20px auto 0;
	}

	.thumbnail {
		float: left;
		margin-right: 20px;
	}

	.info {
		color: $COL_TXT;
		overflow: hidden;
	}

	.name {
		font-size: em( 16px, 14px );
		font-weight: bold;
	}

	.name,
	.tel {
		margin-bottom: 5px;
	}
}
