.box-fixed {
	@include transition( .3s );
	@include translateY( 100% );
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;

	&:hover {
		@include translateY( 0 );
		left: 0;

		.btn-sign-up:before {
			background: darken( $COL_PRI, 5% ) sprite( $SPRITE, icon_exit );
		}
	}

	.btn-sign-up {
		@include transition( background .2s );
		background: $COL_PRI;
		color: #FFF;
		font-size: em( 10px );
		font-weight: bold;
		position: absolute;
		left: 0;
		height: 35px;
		bottom: 100%;
		padding: 10px 55px 10px 20px;
		text-transform: uppercase;

		&:hover {
			background: darken( $COL_PRI, 5% );
		}

		&:before {
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 35px;
			height: 35px;
			background: darken( $COL_PRI, 5% ) sprite( $SPRITE, icon_arrow_top );
		}
	}

	.form {
		border-top: 1px solid #383838;
		color: $COL_TXT;
		background: $COL_PRI;
		width: 100%;
		font-size: em( 14px );
		padding: 20px;
		text-align: center;
	}

	p {
		display: inline-block;
		width: 20%;
		margin-right: 1%;
	}

	input {
		padding: 3px;
		height: 25px;
		width: 100%;
		margin-top: 3px;
	}

	label {
		text-align: left;
		display: block;
	}

	input[type="submit"] {
		width: auto;
		font-size: em( 14px );
	}
}