.login {
	background: $COL_PRI;
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba( #000, .5 );
	margin-top: 20px;
	padding: 15px;
	position: absolute;
	top: 100%;
	right: 0;
	width: 250px;
	display: none;

	&:before {
		border-width: 10px;
		border-style: solid;
		border-color: transparent transparent $COL_PRI transparent;
		bottom: 100%;
		content: '';
		position: absolute;
		right: 30px;
	}

	input {
		height: 30px;
		width: 100%;
		margin-top: 5px;
	}

	.btn {
		margin-top: 10px;
		width: auto;
	}

	.field {
		color: #FFF;
		margin-bottom: 10px;
	}

	.forgot-password {
		@include transition( .2s );
		bottom: 25px;
		color: #fff;
		font-size: em( 11px );
		position: absolute;
		right: 15px;

		&:hover {
			color: $COL_LINK;
		}
	}
}
