.more-card {
	clear: both;
	text-align: center;

	button {
		@extend %bg_btn;
		font-size: em( 14px );
		line-height: 1;
		padding: 5px;
		text-transform: none;
	}
}

.btn-login {
	@include transition( background .2s );
	background: $COL_LINK;
	border-radius: 5px;
	color: #FFF;
	font-size: em( 12px, 16px );
	font-weight: bold;
	min-height: 30px;
	padding: 9px 5px 5px 30px;
	text-transform: uppercase;
	position: relative;
	display: block;

	&:before {
		content: "";
		position: absolute;
		left: 5px;
		top: 5px;
		background: sprite( $SPRITE, btn_user );
		width: 20px;
		height: 20px;
	}

	&:hover {
		background: darken( $COL_LINK, 10% );
	}
}
