.card {
	@include transition( transform .3s, box-shadow .3s );
	@include translateY( 0 );
	border-radius: 5px;
	box-shadow: 0 0 0 1px $COL_DET inset, 0 2px 1px 0 rgba( #000, 0 );
	font-size: em( $FONT_SIZE_TXT );
	overflow: hidden;

	&:hover {
		@include translateY( -2px );
		box-shadow: 0 0 0 1px $COL_DET inset, 0 2px 1px 0 rgba( #000, .2 );
	}

	.thumbnail {
		position: relative;
		min-height: 150px;
	}

	img {
		display: block;
	}

	.code {
		bottom: 0;
		box-shadow: 0 -30px 25px -20px rgba( #000, .7 ) inset;
		color: #FFF;
		left: 0;
		padding: 10px 15px;
		position: absolute;
		text-align: right;
		width: 100%;
	}

	.type,
	.distrito {
		color: $COL_TXT;
	}

	.city {
		font-size: em( 11px, 14px );
		color: $COL_TXT_SEC;
	}

	.price {
		color: $COL_PRI;
		font-weight: bold;
		margin-top: 10px;
	}

	.type {
		margin-bottom: 10px;
	}

	.info {
		padding: 10px 15px 0;
	}
	.info a {
		padding-bottom: 15px;
		display: block;
	}

	.more-info {
		border-top: 1px solid $COL_DET;
		text-align: center;
	}
}