.featured-slider {
	background: #636363 url( "#{$PATH}/bg-featured.png" ) center top no-repeat;
	padding: 30px 0;
	min-height: 320px;

	.bx-wrapper {
		border-radius: 5px;
		overflow: hidden;
		margin: 0 auto;
		position: relative;
		width: $CONTAINER;
	}

	.bx-pager {
		bottom: 30px;
		position: absolute;
		right: 20px;
	}
	.bx-pager-item {
		float: left;
		margin-left: 5px;
	}
	.bx-pager-link {
		@extend %image_replacement;
		background: sprite( $SPRITE, icon_page );
		display: block;
		height: 16px;
		width: 13px;

		&.active {
			background: sprite( $SPRITE, icon_page_active );
		}
	}

	.caption {
		@include transition( .2s );
		@include translateY( 10px );
		background: rgba( #000, .7 );
		bottom: 0;
		color: #FFF;
		font-size: em( 22px);
		left: 0;
		padding: 30px 20px 40px;
		position: absolute;
		width: 100%;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
	}

	.item:hover .caption {
		@include translateY( 0 );
		background: rgba( #000, .9 );
	}
}

.featured-slider > .slider {
	overflow: hidden;
	height: 260px;
	position: relative;
	width: $CONTAINER;

	li + li {
		display: none;
	}
}