.filter {
	background: $COL_PRI url( "#{$PATH}/bg-filter.png" );
	color: #FFF;
	font-size: em( $FONT_SIZE_TXT );
	padding: 25px 0;

	.field {
		float: left;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			float: right;
			width: perc( 140px,$CONTAINER );
		}
	}

	.first {
		width: 85px;
	}

	.label,
	.field-label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.choice {
		display: inline-block;
		height: 40px;
		padding: 15px 0;

		label {
			cursor: pointer;
		}
	}

	select {
		width: 100%;
	}

	input[type="submit"] {
		margin-top: 20px;
		width: 100%;
	}

	.medium {
		width: perc( 160px, $CONTAINER );
	}

	.radio .choice {
		margin-right: 10px;
	}
}
