.widget-resuta-message > div {
	background: $BG_BOX;
	padding: 20px;
}

.widget-resuta-message {

	input,
	textarea {
		margin-bottom: 10px;
		width: 100%;
		border: 1px solid $COL_DET;
	}

	input[type="submit"] {
		border: none;
		float: right;
		margin: 0;
		width: auto;
	}

	.wpcf7-not-valid-tip,
	.wpcf7-validation-errors {
		display: none !important;
	}

	.wpcf7-not-valid {
		border-bottom: 3px solid #f75a5a;
		box-shadow: 0 3px 5px -1px rgba(31, 30, 30, 0.5);
	}

	.custom-spinner {
		display: block;
		width: 40px;
		height: 40px;
	}

	.wpcf7-response-output {
		display: none;
		font-size: em( 15px );
		color: white;
		padding: 13px;
		border-radius: 5px;
		font-weight: bolder;
		margin-top: 15px;
	}

	.wpcf7-mail-sent-ok {
		background: #f6c20f;
	}

	.wpcf7-mail-sent-ng {
		background: #f75a5a;
	}
}
