$COL_PLACEHOLDER: $COL_TXT_SEC;

$IPT_HEIGHT 	: 40px;
$IPT_PADDING 	: 5px;
$IPT_BDR 		: 5px;


// FORM
input,
select,
.chosen-single,
textarea {
	border: none;
	border-radius: $IPT_BDR;
	color: $COL_TXT;
	height: $IPT_HEIGHT;
	padding: $IPT_PADDING;

}

textarea {
	font-size: em( $FONT_SIZE_TXT );
	height: 100px;
	overflow: auto;
	resize: none;
	font-family: $FONT_PRI;
}

input[type="radio"],
input[type="checkbox"] {
	height: auto;
	padding: 0;
}

input[type="submit"] {
	@extend %bg_btn;
	cursor: pointer;
	-webkit-appearance: none;
}

button {
	background: transparent;
	cursor: pointer;
}


::-webkit-input-placeholder { color: $COL_PLACEHOLDER; }
:-moz-placeholder 			{ color: $COL_PLACEHOLDER; }
::-moz-placeholder 			{ color: $COL_PLACEHOLDER; }
:-ms-input-placeholder 		{ color: $COL_PLACEHOLDER; }