.iradio {
	width: 15px;
	height: 15px;
	background: #FFF;
	float: left;
	margin-right: 5px;
	border-radius: 100%;
	position: relative;


	&.checked:before {
		content: "";
		top: 2px;
		left: 2px;
		background: $COL_LINK;
		width: 11px;
		height: 11px;
		position: absolute;
		border-radius: 100%;
	}
}