.icon-property {

	.icon {
		color: $COL_TXT_SEC;
		display: inline-block;
		font-weight: bold;
		margin-left: 15px;
		line-height: 32px;
		text-align: left;
		width: 50px;

		&:first-child {
			margin-left: 0;
		}

		&:before {
			content: '';
			background: sprite-url( $SPRITE );
			display: inline-block;
			float: left;
			height: 32px;
			width: 32px;
		}

		&.room:before 		{ background-position: sprite-position( $SPRITE, icon_room ); }
		&.toilet:before 	{ background-position: sprite-position( $SPRITE, icon_toilet ); }
		&.dormitory:before 	{ background-position: sprite-position( $SPRITE, icon_dormitory ); }
	}
}