.list-cards {
	overflow: hidden;
	padding: 35px 0;

	.card {
		background: #FFF;
		float: left;
		margin-bottom: 30px;
		margin-left: perc( 30px, $CONTAINER );
		width: perc( 222px, $CONTAINER );

		&:nth-child(4n+1) {
			margin-left: 0;
			clear: both;
		}
	}
}
