.wrap-media {

	.media-slide-featured {
		width: perc( 510px, $CONTENT - 40px );
		min-height: 345px;
		float: left;
		position: relative;

		.box-pager {
			top: 0;
		}

		.media-slide-figure {
			overflow: hidden;
			height: 345px;

			img {
				vertical-align: middle;

				&:not(.first) {
					-webkit-animation: slider .3s ease-in-out forwards;
					animation: slider .3s ease-in-out forwards;
				}
			}
		}
	}

	img {
		display: block;
	}

	.caption,
	.box-pager,
	.media-slide-counter,
	.bx-controls-direction {
		position: absolute;
	}

	.media-slide-counter {
		font-size: 10px;
		background: #FFF;
		border-radius: 5px;
		padding: 3px 6px;
		right: 20px;
		top: 20px;
		box-shadow: 2px 2px 4px #000;
	}

	.caption {
		bottom: 0;
		color: #FFF;
		padding: 10px;
		background: rgba( #000, .5 );
		width: 100%;
	}

	.media-slide {
		float: right;
		position: relative;
		width: perc( 155px, $CONTENT - 40px );

		> ul {
			height: 345px;
			overflow: hidden;
		}

		> ul li {
			margin-bottom: 15px;
		}

		li {
			opacity: .5;

			&.active {
				opacity: 1;
			}
		}
	}

	.bx-controls-direction {
		position: absolute;
		top: 0;
		min-height: 345px;
		height: 100%;
		left: 50%;
		margin-left: -20px;
	}

	.bx-controls-direction a {
		@extend %image_replacement;
		@include transition( .2s );
		background: sprite-url( $SPRITE );
		font-size: 0;
		position: absolute;
		width: 40px;
		height: 20px;
		display: block;

		&:hover {
			opacity: .6;
		}

		&.disabled {
			cursor: default;
			opacity: .2;
		}

		&.bx-prev {
			background-position: sprite-position( $SPRITE, arrow_slider_top );
			bottom: 103%;
		}

		&.bx-next {
			background-position: sprite-position( $SPRITE, arrow_slider_bottom );
			top: 103%;
		}
	}

	.bx-viewport { z-index: 1; }
}

/// Anchor animation slide action
@-webkit-keyframes slider {
	0% {
		opacity: .5;
		-webkit-transform: translate3d(0,0,0) scale(1.1);
		transform: translate3d(0,0,0) scale(1.1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0) scale(1);
		transform: translate3d(0,0,0) scale(1);
	}
}
@keyframes slider {
	0% {
		opacity: .5;
		-webkit-transform: translate3d(0,0,0) scale(1.1);
		transform: translate3d(0,0,0) scale(1.1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0) scale(1);
		transform: translate3d(0,0,0) scale(1);
	}
}
