.widget-resuta-author {

	.thumbnail {
		min-height: 120px;
	}

	img {
		display: block;
	}

	.info {
		padding: 20px;
		margin-bottom: 30px;
		background: $BG_BOX;
		font-size: em( $FONT_SIZE_TXT );
	}

	.title-perfil {
		font-size: em( 18px, $FONT_SIZE_TXT );
		color: $COL_LINK;
	}

	a {
		color: inherit;
	}

	.list {
		color: $COL_TXT;
		margin-top: 15px;
		list-style-type: none;

		a {
			color: $COL_LINK;
			text-decoration: underline;
		}

		li {
			margin-top: 10px;
			margin-bottom: 3px;
		}
	}

	.icon-title {
		position: relative;
		left: 20px;
		color: $COL_TXT;

		&:before {
			background: sprite-url( $SPRITE );
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			left: -20px;
		}
	}

	.phone {
		margin-top: 15px;

		.icon-title:before {
			background-position: sprite-position( $SPRITE, icon_phone );
			top: -2px;
		}
	}

	.email {
		margin-top: 15px;

		.icon-title {
			display: block;

			&:before {
				background-position: sprite-position( $SPRITE, icon_email );
				top: -4px;
			}
		}

		a {
			margin-top: 15px;
			color: $COL_TXT;
			display: block;
		}
	}
}
