.form-sign-up {
	position: fixed;
	bottom: 0;
	right: 0;

	.info {
		display: none;
		background: $COL_PRI;
		bottom: 100%;
		padding: 0 0 30px 0;
		position: absolute;
		margin-bottom: -30px;
		right: 0;
	}

	.form {
		padding: 10px;
	}

	input {
		margin-top: 8px;
	}

	p {
		color: #FFF;
	}

	.btn-close,
	.btn-form {
		color: #FFF;
		font-size: em( 10px, 16px );
		font-weight: bold;
		text-transform: uppercase;

		&:before {
			content: "";
			width: 24px;
			height: 24px;
			position: absolute;
			background: sprite-url( $SPRITE );
		}
	}

	.btn-close {
		background: #101010;
		border-bottom: 1px solid #272727;
		padding: 8px 35px;
		position: relative;
		text-align: right;
		width: 100%;

		&:before {
			background: sprite( $SPRITE, icon_close );
			right: 5px;
			bottom: 4px;
		}
	}

	.btn-form {
		background: $COL_PRI;
		border-bottom: 3px solid $COL_LINK;
		border-left: 1px solid #4b4b4b;
		padding: 5px 5px 5px 35px;
		position: relative;
		text-align: left;
		width: 140px;
		z-index: 2;

		&:before {
			background: sprite( $SPRITE, arrow_sign_up );
			left: 5px;
			top: 5px;
		}
	}

	.wpcf7-not-valid-tip,
	.wpcf7-validation-errors {
		display: none !important;
	}

	.wpcf7-not-valid {
		border-bottom: 3px solid #f75a5a;
		box-shadow: 0 3px 5px -1px rgba(31, 30, 30, 0.5);
	}

	.wpcf7-response-output {
		display: none;
		font-size: em( 15px );
		color: white;
		padding: 13px;
		border-radius: 5px;
		font-weight: bolder;
		margin-top: 15px;
	}

	.wpcf7-mail-sent-ok {
		background: #f6c20f;
	}

	.wpcf7-mail-sent-ng {
		background: #f75a5a;
	}

	.wrap-radio {
		.wpcf7-list-item {
			display: inline-block;
			height: 40px;
			padding: 15px 0;
			cursor: pointer;
		}

		.wpcf7-list-item-label {
			cursor: pointer;
		}

		.first {
			margin-right: 10px;
		}

		.last {
			margin-left: 10px;
		}
	}

	.wrap-submit {
		position: relative;

		.custom-spinner {
			display: block;
			width: 40px;
			height: 40px;
			position: absolute;
			top: 7px;
			right: 0;
		}
	}
}
