.single-property {
	color: $COL_TXT;

	.header-price {
		border-bottom: 1px solid $COL_DET;
		padding-bottom: 20px;
	}

	.price {
		color: $COL_LINK;
		font-size: em( 20px );
		font-weight: bold;
	}

	.icon-property {
		float: right;
	}

	.about,
	.details {
		border-bottom: 1px solid $COL_DET;
		margin-bottom: 30px;
		font-size: em( 14px );
		line-height: 1.1;
		padding-bottom: 30px;
	}

	.list {
		list-style-position: inside;
		list-style-type: disc;
		float: left;

		li {
			float: left;
			width: 50%;
			margin-top: 6px;
		}
	}

	.slider {
		background: $BG_BOX;
		padding: 20px;
		margin-bottom: 20px;

		&.no-gallery {
			background: none;
			padding: 5px;
		}
	}

	.iframe-map {
		width: 100%;
		min-height: 250px;

		.custom-spinner {
			margin: 0 auto;
			width: 40px;
			height: 40px;
			display: block;
		}
	}

}

.similar-properties {
	background: #EEE;
	padding: 20px 0 0;

	.bx-pager-item {
		visibility: hidden;
	}
}

.similar-properties .list-cards {
	padding: 0;

	.card {
		margin: 0;
		width: auto;

		&:nth-child(4n+1) {
			clear: none;
		}
	}
}
