.social {
	font-size: 0;

	.icon {
		@include transition( opacity .2s );
		display: inline-block;
		background: sprite-url( $SPRITE );

		&.facebook 	{ background-position: sprite-position( $SPRITE, icon_facebook ); }
		&.twitter 	{ background-position: sprite-position( $SPRITE, icon_twitter ); }

		&:hover 	{ opacity: .8; }
		&:active 	{ opacity: 1; }
	}

	.icon a {
		@extend %image_replacement;
		display: block;
		height: 32px;
		width: 32px;
	}
}